
<div class="user_info">
  <%= image_tag(user.profile_pic_url) %>
  <%= user.first_name %> <%= user.popularity %>
</div>

<div class="remark_buttons">
  
  <%= link_to "love", new_event_remark_path(event), data:{direction: 1}  %>
  <%= link_to "hate", new_event_remark_path(event), data:{direction: -1} %>
</div>
  
  <div class="remark_form">
    <%= render partial: "remark", locals: { event: event, user: user } %>
  </div>

<div class="remark_display">

</div>

