
<div class="user_info">
  <img src="#">
  <%= %> username <%= user.popularity %>
</div>

<div class="remark_buttons">

  <%= form_for [event, Remark.new], method: "POST" do |f| %>
  <%= f.hidden_field :vote_direction, value: "1" %>
  <%= f.submit "love" %>
  <%  end %>

  <%= form_for [event, Remark.new], method: "POST" do |f| %>
  <%= f.hidden_field :vote_direction, value: "-1" %>
  <%= f.submit "hate" %>
  <%  end %>
  
</div>

<div class="remark_display">

</div>