
<div class="user_info">
  <img src="#">
  <%= %> username <%= user.popularity %>
</div>

<div class="shade_buttons">

  <%= form_for event, method: "POST" do |f| %>
  <%= f.hidden_field :vote_direction, value: "1" %>
  <%= f.submit "love" %>
  <%  end %>

  <%= form_for event, method: "POST" do |f| %>
  <%= f.hidden_field :vote_direction, value: "-1" %>
  <%= f.submit "hate" %>
  <%  end %>
  
</div>

<div class="shade_display">

</div>