<div class="row user_row">
  <%= link_to user_path(user) do%>
  <div class="small-3 large-3 columns user_info">
    <%= image_tag(user.profile_pic_url) %>
    <%= user.first_name %> <%=user.popularity.to_s%><i class="fi-star"></i>
  </div>
  <% end %>
  <% if current_user && current_user.has_remarked_on?(user, event) %>
  <div class="small-3 large-3 columns remark_buttons">  
    <span class='small-6 columns remarked_already centered'> remarked </span>
  </div>
  <% elsif user.id != current_user.id %>
  <div class="small-3 large-3 columns remark_buttons">  
    <%= link_to "shade", new_event_remark_path(event), data:{direction: -1}, class: "hate" %>
    <%= link_to "love", new_event_remark_path(event), data:{direction: 1}, class: "love"  %>
  </div>
  <% else %>
  <div class="small-3 large-3 columns remark_buttons">
    <span class="small-6 columns current_user centered"> me </span>
  </div>
  <% end %>  
  <div class="small-3 large-3 columns love_form">
    <%= render partial: "remark_form", locals: { event: event, user: user, message: "tell em how you feel", val: 1 } %>
  </div>
  
  <div class="small-3 large-3 columns hate_form">
    <%= render partial: "remark_form", locals: { event: event, user: user, message: "feel my wrath", val: -1 } %>
  </div>

</div>