<div class="remark small-12 columns">
  <a href="#" data-reveal-id="modal">
  <%= image_tag(remark.giver.profile_pic_url)%>
  <% if remark.remark_direction == 1 %>
    <%= " said '" + remark.description + "' about " %>
  <% else %>
    <%= " said '" + remark.description + "' about " %>
  <% end %>
  <%= image_tag(remark.receiver.profile_pic_url)%>
  </a>
</div>

<div id="modal" class="reveal-modal" data-reveal>
  <%= image_tag(remark.giver.profile_pic_url)%>
</div>