<%= link_to "back", root_path %>

<div class="event_show">
  <%= @event.venue_name %>
  <%= @event.address %>
  <%= @event.score %>
</div>

<div class="vote">
  
    <%= form_for [@event, Vote.new], method: "POST" do |f| %>
    <%= f.hidden_field :vote_direction, value: "1" %>
    <%= f.submit "" %>
    <%  end %>

    <%= form_for [@event, Vote.new], method: "POST" do |f| %>
    <%= f.hidden_field :vote_direction, value: "-1" %>
    <%= f.submit "" %>
    <%  end %>
  
</div>


<div class="voted"> 

</div>

<div class="shade">
  
</div>

<div class="shaded">
  
</div>