<div id="event_show">
  <!-- why would it be null - missing default? -->
  <div class="score"><%= @event.score || 0 %></div>
  <div class="name"><%= @event.venue_name || "PlaceHolder" %></div>
  <div class="address"><%= @event.address || "21 PlaceHolder St, New York, NY 10001"%></div>
</div>

<!-- prefer the +ve branch first -->
<% if !current_user.voted_for?(@event) %>
<div class="vote row">
  
  <div class="small-12 large-4 columns vote_button">
    <!-- the method POST here should be inferred from the fact Vote.new is unsaved -->
    <%= form_for [@event, Vote.new], method: "POST" do |f| %>
    <%= f.hidden_field :vote_direction, value: "1" %>
    <%= f.submit "bumpin" %>
    <%  end %>
  </div>

  <div class="small-12 large-4 columns vote_button">
    <%= form_for [@event, Vote.new], method: "POST" do |f| %>
    <%= f.hidden_field :vote_direction, value: "-1" %>
    <%= f.submit "just sad" %>
    <%  end %>
  </div>

</div>

<% else %>

  <% if current_user.vote_direction_for(@event) == -1 %>
    <div class="voted neg" <%= "style='display:none'" %>> 
      <span class="checked_in">ditched this</span>
    </div>
  <% else %>
    <div class="voted pos"<%= "style='display:none'" %>> 
      <span class="checked_in">checked in</span>
    </div>

    <div class="attendees">
      <% if @event.users.count == 1 %>
        <span class="small-12 columns title centered"> Just you so far... </span> 
      <% else %>
        <span class="small-12 columns title centered"> Who else is here? </span>
      <% end %>  
      <% @event.users.each do |user| %>
        <%= render partial: "attendee", locals: { event: @event, user: user } %>
      <% end %>
    </div>

    <div class="remarks top_margin">
      <% if @event.remarks.count < 1 %>
        <span class="title"> No chatter yet </span>
      <% else %>
        <span class="title"> What are they saying? </span>
      <% end %>
        <% @event.remarks.each do |remark| %>
        <%= render partial: "remark", locals: { event: @event, remark: remark } %>
      <% end %>
    </div>
  <% end %>

<% end %>