<div id="event_show">
  <div class="score"><%= @event.score || 0 %></div>
  <div class="name"><%= @event.venue_name || "PlaceHolder" %></div>
  <div class="address"><%= @event.address || "21 PlaceHolder St, New York, NY 10001"%></div>
</div>

<div class="vote row">
  
  <div class="small-2 large-4 columns">
    <%= form_for [@event, Vote.new], method: "POST" do |f| %>
    <%= f.hidden_field :vote_direction, value: "1" %>
    <%= f.submit "bumpin" %>
    <%  end %>
  </div>
  <div class="small-2 large-4 columns">
    <%= form_for [@event, Vote.new], method: "POST" do |f| %>
    <%= f.hidden_field :vote_direction, value: "-1" %>
    <%= f.submit "just sad" %>
    <%  end %>
  </div>

</div>

<div class="voted"> 

</div>

<div class="attendees">
<p class="title"> Who else is here? </p>  
  <% @event.users.each do |user| %>
    <%= render partial: "attendee", locals: { event: @event, user: user } %>
  <% end %>
</div>