<!DOCTYPE html>
<html>
<head>
  <title>Popular</title>

  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&<%= ENV['GOOGLE_API_KEY'] %>"></script>
  <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all'%>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="container">
  <% if logged_in? %>
      <div class="fl icon">
        <a href="/events"><i class='fi-home home-page-link'></i></a>
      </div>
      <div class="fr icon">
        <a href="/users/<%= current_user.id%>"><i class='fi-torso user-page-link'></i></a>
      </div>
    <%= yield %>
  <% else %>
    <div class="main-body">
    <div class="title">Popular</div>
    <div id="fade-out-div">
    <div class="center-div" id="connect-directions"><p class="fb-color">Login / Signup</p></div>
    <div class="center-div" id="fb-login-div">
      <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true" onlogin="fb_login_after(this)" onclick="function() {console.log('hi');}">
        Via Facebook
      </div>
    </div>
    <div class="center-div" id="fb-status"></div>
  </div>
  </div>
  <% end %>
</body>
</html>
